@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --background: #FFFFFF;
  --primary: #000537;
  --secondary: #5271FFCC;
  --secondary-hover: #5271ff59;
  --secondary-box-shadow: rgba(82, 113, 255, 0.17);
}


body {
  color: rgb(var(--foreground-rgb));
  background: var(--background);
}
